* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#header {
  background-image: url(./pics/old-fashioned.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
}

.navbar-brand {
  font-size: 24px;
}

.form-control {
  border-color: #000;
}

.form-control:focus{
  border-color: #000;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.card {
  width: 20rem;
  margin-bottom: 1rem;
  padding: 0;
}

ul {
  list-style-type: none;
}

#main {
  min-height:100%;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  max-height: 85px;
}

footer > div {
  background-color: #fff;
}

#cards {
  padding-bottom: 95px;
}